/* resources/css/app.css */
.table-responsive {
    overflow-x: auto;
    overflow-y: auto;
    max-height: 600px;
    /* Adjust height as needed */
    display: block;
}

.table-responsive td,
.table-responsive th {
    white-space: nowrap;
}